body {
  font-family: Arial;
  padding: 20px;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
}
body:before {
  content: "Malik Automation";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 60px;
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 9999;
}

